@font-face {
  font-family: AVENGEANCE-HEROIC-AVENGER-BI;
  src: url("./../../assets/AVENGEANCE-HEROIC-AVENGER-BI.ttf");
  font-size: 100%;
}

.about {
  width: 100%;
}

.member-container {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.team-h2 {
  text-align: center;
  color: #f66d73;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.headshot {
  height: 400px;
  width: 400px;
}

.member-name::first-letter {
  font-size: 150px;
}

.member-name {
  font-size: 50px;
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: AVENGEANCE-HEROIC-AVENGER-BI;
}

.about {
  margin-top: 10px;
}

.about-text {
  font-size: 24px;
  width: 450px;
}

.bio-stats {
  font-size: 15px;
  margin-bottom: 5px;
}

.linkedin {
  height: 100px;
  width: 100px;
}

.github {
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .member-name {
    margin: 30px;
    align-self: center;
  }

  .member-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-text {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 auto;
  }
  .team-h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .member-name {
    align-self: center;
    width: 200px;
    text-align: center;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .about-text {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .team-h2 {
    font-size: 45px;
  }
}
