.my-health-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.health-h2 {
  text-align: center;
  color: #f66d73;
}

.weight {
  width: 100%;
  grid-column: 1/2;
}

ul {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}

.health-form {
  padding: 20px;
  grid-column: 2/3;
}

.delete-btn {
  width: 6rem;
  margin-top: 15px;
}

.user-profile {
  text-align: center;
}

.user-profile h3 {
  color: #f66d73;
}

@media only screen and (min-width: 768px) {
  .my-health-intro {
    grid-template-columns: 1fr 2fr;
  }
  .health-form {
    width: 80%;
  }
  .health-h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .health-h2 {
    font-size: 45px;
  }
}
