.home-h2{
    margin-left:20px;
    margin-top: 20px;

}

.home-form{
    margin: 20px;
}

.home-img{
  width:20rem;
  height: 18rem;
  
}



.register-btn{
    padding: 10px 10px;
}


@media only screen and (min-width: 768px) {
    .home-img{
        margin-top:40px;
        height:35rem;
        width:32rem;
        margin-left:rem;
    }
    


}

@media only screen and (min-width: 1024px) {

.home-img{
    margin-top:60px;
    height:55rem;
    width:72rem;
    margin-left: 35rem;
}

.form-control{
    width: 30rem;
}


.home-form{
    margin-left: 40rem;
    

}

.register-btn{
    padding: 10px 10px;
}
.home-h2{
    margin-left:40rem;

}

}