.home-h2 {
  margin: 0 auto;
  text-align: center;
}

.home-form {
  margin: 20px;
}

.home-img {
  height: 18rem;
  width: 25rem;
}

.register-btn {
  padding: 10px 10px;
}

@media only screen and (min-width: 768px) {
  .home-img {
    margin-top: 100px;
    height: 15rem;
    width: 25rem;
    margin-left: 45%;
  }
  .person-input.form-control {
    width: 18rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-img {
    margin-top: 100px;
    height: 25rem;
    width: 35rem;
    margin-left: 38%;
  }

  .person-input.form-control {
    width: 20rem;
  }

  .home-form {
    margin-left: 22%;
  }

  .register-btn {
    padding: 10px 10px;
  }
}
