@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.navbar{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
    font-family: 'Graduate', cursive;
}



@media only screen and (min-width: 1024px) {
.me-auto{
    position:fixed;
    right: 0;
    
}
    .navbar{
       margin-right: 80px;
       padding: 35px;
       
    }
    .navbar:hover{
        background-color: purple;
        color: #fff;
        
    }
    
    
}