@font-face {
  font-family: Shadows Into Light;
  src: url('./../../assets/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
  font-size: 100%;
}

@media only screen and (max-width: 767px) {
  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .dumbbell-img {
    margin-top: -1rem;
    height: 400px;
    width: 400px;
  }

  .tagline {
    text-align: center;
  }
  .daily-tracker-form {
    margin: 20px;
  }

  h5 {
    margin-left: 10px;
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .daily-form{
        margin-right:2rem;
        margin-top: 50px;
     }
     .dumbbell-img{
         width: 500px;
         margin-left: 8rem;
     }
} */

@media only screen and (min-width: 768px) {
  .daily-tracker-body {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 80px 40px 650px 750px;
    font-family: 'Shadows Into Light';
    font-size: 30px;
    letter-spacing: 2px;
  }

  .tagline {
    grid-column: 2/3;
    text-align: center;
  }

  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .tracker-form {
    grid-column: 2/3;
    display: grid;
  }

  .daily-form {
    margin-top: 20px;
    grid-column: 2/3;
  }

  .daily-tracker-form {
    width: 25rem;
  }

  .daily-btn {
    margin-left: 12rem;
  }

  .daily-h2 {
    grid-column: 2/3;
  }

  .dumbbell-img {
    margin-top: -1rem;
    height: 100%;
    width: 100%;
  }

  .dumbbell-container {
    grid-column: 2/3;
  }

  .image-credit {
    color: rgb(180, 180, 180);
    position: relative;
    margin: 20px;
  }
}
