.daily-h2 {
  text-align: center;
  color: #f66d73;
}
.tagline {
  text-align: center;
}
.daily-tracker-body {
  margin: 0 auto;
}
.tracker-form {
  margin: 0 auto;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .daily-tracker-body {
    display: grid;
  }
  .tagline {
    text-align: center;
  }
  .tracker-form {
    width: 60%;
  }
  .daily-h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .daily-h2 {
    font-size: 45px;
  }
  .tracker-form {
    width: 550px;
  }
}
