@font-face {
  font-family: Shadows Into Light;
  src: url("./../../assets/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
  font-size: 100%;
}

@media only screen and (max-width: 767px) {
  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .dumbbell-img {
    margin-top: -1rem;
    height: 400px;
    width: 400px;
  }

  .tagline {
    text-align: center;
  }
  .daily-tracker-form {
    margin: 20px;
  }

  h5 {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .daily-tracker-body {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 80px 40px 650px 750px;
    font-family: "Shadows Into Light";
    font-size: 30px;
    letter-spacing: 2px;
  }

  .tagline {
    grid-column: 2/3;
    text-align: center;
  }

  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .tracker-form {
    grid-column: 2/3;
    /* display: grid; */
    margin: 0 10%;
  }

  .daily-form {
    margin-top: 60px;
    grid-column: 2/3;
    /* z-index: 1; */
  }

  .daily-tracker-form {
    width: 40rem;
  }

  .daily-btn {
    margin-left: 18rem;
  }

  .daily-h2 {
    grid-column: 2/3;
  }

  .unverified {
    grid-column: 1/4;
  }

  .dumbbell-img {
    margin-top: -1rem;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 2s ease-in-out;
  }

  .dumbbell-container {
    grid-column: 1/4;
  }

  .dumbbell-container:hover .dumbbell-img {
    transform: translateY(-170%);
    animation-play-state: paused;
  }

  .image-credit {
    color: rgb(180, 180, 180);
    font-size: 13px;
    grid-row: 4/5;
    display: flex;
    flex-direction: column-reverse;
  }
}
