main {
  margin-top: 70px;
  min-height: 78vh;
  background-color: #FEF9EF;
  padding: 20px 5px 10px 5px;
  width: 100%;

}
* {
  color: #14495c;
}

.btn {
  background-color: #40C3B2;
  color: white;
  border: none;
  margin-top: 5px;
}

.btn:hover {
  color: #40C3B2;
  background-color: white;
  border: #40C3B2 solid 1px;
}